[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
