[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "tmux/plugins/resurrect"]
	path = tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/open"]
	path = tmux/plugins/open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "tmux/plugins/copycat"]
	path = tmux/plugins/copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/yank"]
	path = tmux/plugins/yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
